* {
	box-sizing: border-box;
}

html {
	padding: 0;
}

body {
	padding: 0;
	background-color: #0f1319;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
	color: white;
	opacity: 1;
	transition: opacity, 0.5s;
	text-decoration: none;
}

a:hover {
	opacity: 0.5;
}

.wrap {
	background-color: #0f1319;
	background-image: linear-gradient(
		225deg,
		#ff3cac 0%,
		#784ba0 50%,
		#2b86c5 100%
	);
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	flex-direction: column;
	padding: 1rem;
	text-align: center;
}

header {
	width: 100%;
}

header img {
	width: 60%;
	max-width: 400px;
	margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
	header img {
		width: 100%;
	}
}

h1 {
	font-size: 1rem;
	font-weight: 400;
	max-width: 330px;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

/* Post Page */
.post-page {
	background: white;
}

.post-page a {
	color: #2b86c5;
}

.post-container {
	margin: 0 auto;
	padding: 1rem;
	max-width: 750px;
}

.post-container img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto 1rem;
	box-shadow: 0 1px 10px 0 rgb(0 0 0 / 15%);
}

.post-container h1 {
	font-size: 2rem;
	border-bottom: #3a404d 1px solid;
	display: block;
	max-width: 100%;
	font-weight: 700;
}

.post-container ol,
.post-container p,
.post-container h1,
.post-container h2 {
	margin-bottom: 1rem;
	line-height: 1.6;
	color: #3a404d;
}

.post-container li > img {
	margin-top: 1rem;
}
